<% title "Страница мертвого" %>

<div id="topbar">
  <div class="container">
    <%= link_to "" do %>
      <%= image_tag "logo-white.png", :class => "header-logo" %>
    <% end %>
    
    <div id="login_link">
      <a href="">Войти</a>
    </div>
    
    <div id="global_search">
      <form action="/">
        <input id="q" name="q" placeholder="Поиск" type="search" class="ac_input">
      </form>
    </div>
  </div>  
</div>

<div id="layout">
  <div class="container">
    <div id="sidebar">
      <%= image_tag "userpic-placeholder.jpg" %>
      <p class="age">
        33
        <small>года</small>
      </p>
    </div>
    <div id="content">
      <div id="epitaph">  
        <span class="quote">«</span>
        <p>          
          Фотограф Ден Шитаги (Dane Shitagi) приносит красоту балета на улицы в проекте «Нью-Йоркская балерина». На протяжении восьми лет Ден воплощал этот проект в жизнь, а улицы Нью-Йорка служили ему фоном.
        </p>
        <span class="author">— <a href="">Крошка Молли</a>.</span>
      </div> 
      
      <div class="liner">
        <div id="header">
          <h1>
            Наташа Рудницкая
            <div class="button">
              <a href="">
                <span class="bg">
                  <span class="l"></span>
                  <span class="r"></span>
                  <span class="text">Вспоминать</span>
                </span>
              </a>
            </div>
          </h1>
          <a href="">Добавить эпитафию</a>
          <div class="social">
            <%= image_tag "social-stuff.png" %>
          </div>
        </div>
      </div>
      
      <div class="columns">
        <div class="column x-2">
          <div id="personal_info">
            <ul>
              <li>
                <span class="label">Время жизни:</span>
                1987–2041
              </li>
              <li>
                <span class="label">Причина смерти:</span>
                <a href="">Собственный нос</a>
              </li>
              <li>
                <span class="label">Место смерти:</span>
                <a href="">Второй переулок</a>
              </li>
            </ul>
          </div>
          <div id="testament">
            <h2>
              Завещание
              <span class="locked">Имеется скрытая часть.</span>
            </h2>
            <p>В Тринити-колледже (1871—1874) Уайльд изучал античную историю и культуру, где снова с блеском проявлял свои способности в древних языках. Здесь же он впервые прослушал курс лекций по эстетике, а благодаря тесному общению с куратором — профессором античной истории Дж. П. Махаффи, утончённым и высокообразованным человеком, — постепенно стал приобретать крайне важные элементы своего будущего эстетского поведения (некоторое презрение к общепринятой морали, дендизм в одежде, симпатия к прерафаэлитам, лёгкая самоирония, эллинистические пристрастия).</p>
            <p>В Оксфорде Уайльд слушал лекции теоретика искусства Джона Рёскина и ученика последнего — Уолтера Пейтера. Они оба восхваляли красоту, однако Рёскин видел её только в синтезе с добром, в то время как Пейтер допускал в красоте некую примесь зла. Под обаянием Рёскина Уайльд находился на протяжении всего периода в Оксфорде. Позже он напишет ему в письме: «В Вас есть что-то от пророка, от священника, от поэта; к тому же боги наделили Вас таким красноречием, каким не наделили никого другого, и Ваши слова, исполненные пламенной страсти и чудесной музыки, заставляли глухих среди нас услышать и слепых — прозреть».</p>
          </div>
          <div id="memories">
            <h2>Воспоминания</h2>
            <ul>
              <li>
                <a href="" class="pseudo">Ты замечательно говорил о погоде…</a>                
                <span class="author"><a href="">Крошка Молли</a></span>
                <span class="date">16 марта</span>
              </li>
              <li style="display: none">
                <a href="" class="pseudo">Собственно, из-за этого мы и разругались…</a>                
                <span class="author"><a href="">Дональд Трефузис</a></span>
                <span class="date">7 марта</span>
              </li>
              <li class="memory">
                <span class="author"><a href="">Дональд Трефузис</a></span>
                <span class="date">7 марта</span>
                <p>
                  Собственно, из-за этого мы сегодня и разругались. 
                  Твоего папу показывали в дневном выпуске «Уик-энд уорлд», ты, наверное, видел.<br />
                  (Да, кстати, я люблю тебя. Господи, как я тебя люблю.)
                </p>
              </li>
              <li>
                <a href="" class="pseudo">Я записала, что ты старомоден…</a>                
                <span class="author"><a href="">Эдриан Хилли</a></span>
                <span class="date">4 марта</span>
              </li>
              <li>
                <a href="" class="pseudo">Прости мне этот запах, когда…</a>                
                <span class="author"><a href="">Бертрам Вустер</a></span>
                <span class="date">25 февраля</span>
              </li>
              <li>
                <a href="" class="pseudo">На самом деле я просто-напросто заорала…</a>                
                <span class="author"><a href="">Наша Маша</a></span>
                <span class="date">15 января</span>
              </li>
              <li>
                <a href="" class="pseudo">Я смотрю на буквы, изучаю твой почерк…</a>                
                <span class="author"><a href="">Вова Белов</a></span>
                <span class="date">13 января</span>
              </li>
              <li>
                <a href="" class="pseudo"> Я смотрю на буквы, изучаю твой почерк…</a>                
                <span class="author"><a href="">Андрюшка Петров</a></span>
                <span class="date">5 января</span>
              </li>
              <li>
                <a href="" class="pseudo">Мысль более чем жуткая…</a>                
                <span class="author"><a href="">Катерина Фокина</a></span>
                <span class="date">28 декабря</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="column x-1">
          <div id="tree">
            <%= image_tag "tree.jpg" %>
            <h3>Посещения</h3>
            <ul>
              <li>361<span>сегодня</span></li>
              <li>1543<span>всего</span></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>    
  </div>
</div>